.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.pokedex {
  display: flex;
  flex-flow: row wrap;
  margin: 30px 35px;
}

.pokemon {
  border-radius: 10px;
  margin: 10px 20px;
  min-width: 30%;
  background-color: blue;
  display: flex;
  flex-direction: row wrap;
}